*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nectolus';
    src: url('fonts/Nectolus-Regular.woff') format('woff')   
}


.titulo{
    font-size: 20vh;
    color: #9CFC4F;
    font-family: 'Nectolus';
    font-style: italic;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.paralaje {
    background-image: url('media/midjourney2-transformed.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.headerContainer{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;   
    background-position: center;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
}

.navBarContainer{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconNavbar{
    height: 100%;
    width: 10%;
    background-image: url(media/icon.png);
    background-size: cover;
    margin-left: 8vw;
    display: flex;
    background-position: center;
}

.navList{
    font-weight: 600;
    color: #9CFC4F;
    font-size: 1.55vw;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.navitems:hover{
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    border-radius: 2vh;
    padding: 1%;
    animation: cambioColorBorde 5s infinite;
}

@keyframes cambioColorBorde{
    0% {
        border-color: #00ff00; /* Verde neón */
    }
    10% {
        border-color: #ff00ff; /* Magenta */
    }
    20% {
        border-color: #ff9900; /* Naranja */
    }
    30% {
        border-color: #00ffff; /* Azul cian */
    }
    40% {
        border-color: #ffff00; /* Amarillo neón */
    }
    50% {
        border-color: #ff1493; /* Rosa neón */
    }
    60% {
        border-color: #0000ff; /* Azul eléctrico */
    }
    70% {
        border-color: #9400d3; /* Morado neón */
    }
    80% {
        border-color: #ff0000; /* Rojo neón */
    }
    90% {
        border-color: #00ff9a; /* Turquesa neón */
    }
    100% {
        border-color: #00ff00; /* Volver al verde neón al final */
    }
}


.textoHeader{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   
   
}

.contenedorPresentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 80%;
}


.presentacion{
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;
    border-radius: 1vh;
}



.aboutMeContainer{
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}



.background1{
    background-image: url(media/icon.png);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 150vh;  
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
}

.fotoPersonal{
    background-image: url(media/VAPORGRAM-GIF-1706060886416-unscreen.gif);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.containerDerecho{
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textoAboutMe{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.15vw;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 200%;
}


.iconostext{
    color: white;
    
}

.capital{
    color: #9CFC4F;
    font-style: italic;
    font-family: 'Nectolus';
    font-size: 5.5vw;
}

 .color-changing {
    font-style: italic;
    animation: cambioColor 10s infinite;
}

@keyframes cambioColor {
  0% {
    color: #00ff00; /* Verde neón */
  }
  10% {
    color: #ff00ff; /* Magenta */
  }
  20% {
    color: #ff9900; /* Naranja */
  }
  30% {
    color: #00ffff; /* Azul cian */
  }
  40% {
    color: #ffff00; /* Amarillo neón */
  }
  50% {
    color: #ff1493; /* Rosa neón */
  }
  60% {
    color: #0000ff; /* Azul eléctrico */
  }
  70% {
    color: #9400d3; /* Morado neón */
  }
  80% {
    color: #ff0000; /* Rojo neón */
  }
  90% {
    color: #00ff9a; /* Turquesa neón */
  }
  100% {
    color: #00ff00; /* Volver al verde neón al final */
  }
}




.iconos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    width: 100%;
    height: 25%;
}

.iconos img{
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 50vh;
    width: 10vh;
    height: 10vh;
}

.button{
    height: 5%;
    width: 10vw;
    border-radius: 5%;
    background-color: #9CFC4F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}


.proyectosContainer{
    height: 200vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, auto); 
}

.proyecto{
    background-color: cadetblue;
    border: 1px solid black;
}

.cyberpunk-console {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000; 
    color: rgb(228, 2, 232);
    font-family: 'Courier New', Courier, monospace; 
    font-size: 8px; 
    padding: 20px; 
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 212); 
    overflow: hidden;
    white-space: pre-wrap; 
    line-height: 1.5;
    
}


.typing-animation h1{
    overflow: hidden;
    border-right: .15em solid rgb(228, 2, 232); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  

 